body{
 font-family: 'Roboto', sans-serif;
 background-color: #ffffff;
 color: #434455;
}

a{
    text-decoration: none;
}

button {
    cursor: pointer;
}


h1,
h2,
h3,
p {
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style-type: none;
    margin-top: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
}
.container{
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
.section{
    padding: 120px 0px;
}

.header{
    background-color: #ffffff;;
    border-bottom: 1px solid #e7e9fc;;
}

.header .container{
    display: flex;
    align-items: center;
    gap: 332px;
}

.navigation {
    display: flex;
    align-items: center;
}

.header-menu{
    display: flex;
    gap: 40px;
    align-items: center;
}



.header-logo{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
}

.header-logo-studio{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;
}



.header-link{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0px;
    display: block;
}
.header-link:hover,
.header-link:active,
.header-link:focus{
    color: #404bbf;
}

.address{
    font-style: normal;
}

.address-list{
    display: flex;
    gap: 40px;
    
}

.address-link{
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}

.address-link:hover,
.address-link:active,
.address-link:focus{
    color: #404bbf;
}

.hero-title{
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    max-width: 496px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 48px;
}

.hero-button{
    background-color: #4d5ae5;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    text-transform: capitalize;
    font-family: inherit;
    font-size: 16px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    border: none;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

.hero-button:hover,
.hero-button:focus{
    background-color: #404bbf;
}

.hero{
padding: 188px 0px;
background: #2e2f42;
}

.advantages-title{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.advantages-list{
display: flex;
gap: 24px;
}

.advantages-item{
flex-basis:calc((100% - 3 * 24px) / 4)
}

.advantages-subtitle,
.team-subtitle,
.portfolio-subtitle{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
    text-align: center;
    
    
}

.team{
    background: #f4f4fd;
}
.team-item{
    background-color: #FFFFFF;
}

.advantages-text,
.team-text,
.portfolio-text{
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: center;
}

.team-title,
.portfolio-title{
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.team-list{
    display: flex;
    gap: 24px;
}

.team-item{
    background-color: var(--white);
    max-width: calc((100% - 3 * 24px) / 4);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px #2e2f42e0;
}

.team-item:hover,
.team-item:focus{
    box-shadow: 0px 1px 6px 0p #2e2f42e0;
    }


.team-card{
    padding: 32px 0px;
}

.portfolio{
    background-color:#ffffff;;
}
.portfolio-list{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    column-gap: 24px;
    row-gap: 48px;
}

.portfolio-img-list{
    width: calc((100% - 2 * 24px) / 3);
}

.portfolio-box{
    border: 1px solid #e7e9fc;
    border-top: none;
    padding: 32px 16px;
}

.footer-logo{
font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;
display: inline-block;
margin-bottom: 16px;
}

.footer-logo-studio{
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd;
}

.footer-text{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    width: 264px;
}

.footer{
    background-color:#2e2f42;
    padding: 100px 0px;
}